html {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  background: #333333;
}

body {
  letter-spacing: .02em;
}


h1 {
    color: #d6eeff;
}


p {
    line-height: 1.75;
}

li {
    line-height: 1.75;
}

a {
    color: #628cc4;
    text-decoration: none;
}

svg {
  opacity: 0.6;
  transition: 0.3s;
}

svg:hover {
  opacity: 1;
}

.wrapper {
    margin: 0 auto;
    max-width: 800px;
    padding: 1em;
}

.fa {
  font-size: 2.7em;
  text-decoration: none;
  opacity: 0.6;
  margin-right: 0.4em;
  color: #ffffff
}

.fa:hover {
  opacity: 1;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted white;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #969696;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #969696 transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}